.fish-component-container {
    margin: 10px 0;
}
  
.fish-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 3px solid #557ca5;
}

.fish-list-none {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.fish-item {
    background-color: #f9f9f9ec;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}
  
.fish-list .fish-item h4 {
    font-size: 14px;
    margin: 5px 0;
}
  
.fish-list .fish-item button {
    padding: 8px 16px;
    background-color: #666666ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: auto;
    flex-wrap: nowrap;
}
  
.fish-list .fish-item button:hover {
    background-color: #0056b3;
}
  
  /* Style for the Add Fish button */
.fish-component-container button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.fish-component-container button:hover {
    background-color: #0056b3;
}
  