.fish-component-container {
    margin: 10px 10px;
}

a {
    text-decoration: none;
    color: #333;
}
  
.fish-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 3px solid #557ca5;
}

.fish-list-none {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.fish-item {
    background-color: #f9f9f9ec;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: red;
    max-width: 200px;
    min-width: 180px;
    max-height: 500px;
}

.fish-item-h2 {
    font-size: 20px;
}

.fish-item img {
    min-width: 175px;
    max-width: 175px;
    min-height: 175px;
    max-height: 175px;
}
  
.fish-list .fish-item h4 {
    font-size: 14px;
    margin: 5px 0;
}
  
.fish-list .fish-item button {
    padding: 8px 16px;
    background-color: #666666ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: auto;
    flex-wrap: nowrap;
}
  
.fish-list .fish-item button:hover {
    background-color: #0056b3;
}
  
  /* Style for the Add Fish button */
.fish-component-container button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.fish-component-container button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 450px) {
    #fish-h2 {
        margin-top: 115%;
    }
}