.lake-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 5rem;
  }
  
  .lake-details h2 {
    font-size: 5rem;
    margin: 0;
    color: #333;
    align-self: center;
  }
  
  .lake-details h3 {
    font-size: 3rem;
    margin: 0;
    color: #555;
    align-self: center;
  }
  
  .lake-details h4 {
    padding-top: 2px;
    font-size: 2rem;
    margin: 0;
    color: #777;
    align-self: center;
    margin-bottom: 5px;
  }

  .favorite-container {
    top: 1.5rem; /* Adjust the top position as per your desired vertical distance */
    right: 15px;
    position: absolute;
  }
  
  .lake-details h1 {
    font-size: 48px;
    margin: 0;
    color: #ff0000;
    align-self: center;
  }

.center-container {
  margin-bottom: 5px;
}
  
.lake-search-container {
  display: block;
  position: absolute;
  top: 13.5rem;
  /* right: 32%; */
  width: 100%;
  border-top: 3px solid orange;
}

.lake-map-container {
  width: 96%;
  position: relative;
}

.lake-map {
  margin-top: 4rem;
  width: 80%;
  max-width: 80%;
  height: 50vh;
  border-radius: 20px;
}

.map-container p{
  margin: 2px;
  font-size: 30px;
  padding-left: 2rem;
}

.message-container {
  position: absolute;
  right: 25px;
  top: 16.5rem;
}

div .fish-component-container h2 {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 5px;
}

div .fish-list h2 {
  font-size: 30px;
  color: #007bff;
  margin-bottom: 5px;
}

.review-container h2 {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 5px;
  border-bottom: 3px solid orange;
}

/* .map-messages {
  border-top: 3px solid orange;
  display: flex;
  flex-direction: row;
} */