.lake-details {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 5rem;
}

.lake-details h2 {
  font-size: 5rem;
  margin: 0;
  color: #333;
  align-self: center;
}

.lake-details h3 {
  font-size: 3rem;
  margin: 0;
  color: #555;
  align-self: center;
}

.lake-details h4 {
  padding-top: 2px;
  font-size: 2rem;
  margin: 0;
  color: #777;
  align-self: center;
  margin-bottom: 5px;
}

.favorite-container {
  top: 1.5rem; /* Adjust the top position as per your desired vertical distance */
  right: 15px;
  position: absolute;
}

.lake-details h1 {
  font-size: 48px;
  margin: 0;
  color: #ff0000;
  align-self: center;
}
  
.lake-search-container {
  display: block;
  position: absolute;
  top: 13.5rem;
  width: 100%;
  border-top: 3px solid #557ca5;
}

.lake-map-container {
  width: 93%;
  position: relative;
  padding: 10px;
}

.lake-map {
  margin-top: 5rem;
  width: 80%;
  max-width: 80%;
  height: 50vh;
  border-radius: 20px;
  opacity: 95%;
}

.map-container p{
  margin: 2px;
  font-size: 30px;
  padding-left: 2rem;
}

.message-container {
  position: absolute;
  right: 20px;
  top: 17.5rem;
}

#fish-h2 {
  padding-left: 10px;
  font-size: 50px;
  color: #557ca5;
  margin-bottom: 5px;
}

div .fish-list h2 {
  font-size: 30px;
}

.review-container h2 {
  font-size: 50px;
  color: #557ca5;
  margin-bottom: 5px;
  border-bottom: 3px solid #557ca5;
}

@media screen and (max-width: 400px) {

  .message-container {
    left: 10px;
    top: 45rem;
  }

  .lake-map-container {
    width: 100%;
  }


}