/* Center the content within the div */
.user-page-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.signup-message {
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
}
  

.signup-button {
    padding: 8px 16px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0%;
}
  

.logged-in-container {
    align-self: center;
}

.logged-in-container h2 {
    font-size: 50px;
    margin: 0 0 10px 0;
    color: #557ca5;
}

.logged-in-container button:nth-child(2) {
    padding: 8px 16px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.logged-in-container button:nth-child(3) {
    padding: 8px 16px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-lake-container h3:nth-child(1) {
    font-size: 30px;
    color: #557ca5;
    margin-bottom: 5px;
    margin-right: 88%;
}

.favorite-lake-card-container {
    display: flex;
    margin: 0;
    gap: 10px;
    border-top: 3px solid #557ca5;
    padding-top: 10px;
}

.pending-lakes-container h1 {
    font-size: 30px;
    color: #557ca5;
    margin-bottom: 5px;
    margin-right: 88%;
}

.pending-lakes-card-container {
    display: flex;
    margin: 0;
    gap: 10px;
    border-top: 3px solid #557ca5;
    flex-wrap: wrap;
    padding-top: 10px;
}

  
  
  