.new-lake-map {
    margin: 30px 12rem;
    width: 80%;
    max-width: 80%;
    height: 60vh;
    border-radius: 20px;
    opacity: 95%;
}

/* Style for the form container */
.lake-form-container {
    max-width: 500px;
    margin: 100px auto 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9de;
}

.lake-form-container h2 {
    font-size: 30px;
    margin: 0 0 5px 0;
}
    
/* Style for form labels */
.lake-form-label {
    display: block;
    margin-bottom: 5px;
}
    
/* Style for form inputs */
.lake-form-input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
    
/* Style for the submit button */
.lake-form-button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #557ca5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 40%;
}
    
/* Style for error message */
.lake-form-error {
    color: red;
    padding: 0 0 0 17%;
    margin: 0%;
    font-size: 20px;
}