.review-card-container {
    display: flex;
    margin: 10px;
    gap: 10px;
    overflow-x: scroll;
}
  
/* Styles for each review card */
.review-card {
    background-color: #f9f9f9de;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 5px 0px 5px 0px;
    min-height: 80px;
    min-width: 300px;
}
  
.review-container .review-card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    border: none;
}
  
.review-card h3 {
    font-size: 16px;
    margin: 5px 0;
}
  
.review-card h6 {
    font-size: 14px;
    color: #6b6565;
    margin: auto;
}
  
.review-input-container {
    display: flex;
    justify-content: center;
}

.review-input-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9ba;
    border-radius: 20px;
}

.review-input h3 {
    color: #557ca7;
    padding: 5px;
}
  
.review-input form input:nth-child(1) {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 2rem;
}

.review-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 33rem;
}
  
.review-input button {
    padding: 8px 16px;
    background-color: #557ca7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.review-input button:hover {
    background-color: #0056b3;
}
  
  /* Styles for the error message */
.review-container p {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}